
body {
    display: flex;
    justify-content: center;
}

.background-img {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    position: absolute;
    text-align: center;
}

.cell {
    height: 40px;
    width: 40px;
    font-size: 25px;
}

#game-name{
    font-family: 'Creepster', cursive;
}

.jumbotron {
    background-color: transparent;
}

#restart-game{
    margin-top: 20px;
}

.restart-game {
    text-align: center;
}
.centered {
margin: auto;
}

@media (max-width: 576px){
    .background-img>img {
        display: none;
    }
    .background-img {
        background-color: #ccffff;
    }
    .cell {
        height: 30px;
        width: 30px;
        font-size: 20px;
    }
    .cell>img{
        width: 10px;
        height: 10px;
    }

}

